@model TH_Harmic.Models.TbProduct

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="mb-2">
                <div class="col-sm-12">
                    <h1>Xóa sản phẩm</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Xóa sản phẩm</h3>
                    </div>

                    <div class="card-body">
                        <h4>Bạn có chắc chắn muốn xóa sản phẩm này?</h4>
                        <dl class="row">
                            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Title)</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Title)</dd>

                            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Alias)</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Alias)</dd>

                            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

                            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Detail)</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Detail)</dd>

                           

                            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Price)</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Price)</dd>

                            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Quantity)</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Quantity)</dd>

                            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.IsActive)</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.IsActive)</dd>
                            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Image)</dt>
                            <td><img src="@Html.DisplayFor(modelItem => modelItem.Image)" width="100" height="100" /></td>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="ProductId" />
                            <input type="submit" value="Xóa" class="btn btn-danger" /> |
                            <a asp-action="Index" class="btn btn-primary">Quay lại</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>